._tableContainer {
    overflow-x: scroll; /* Enable horizontal scrollbar */
    overflow-y: scroll; /* Enable vertical scrollbar */
    max-width: 100%;
    max-height: 80%;
  .table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        th {
          position: sticky;
          top: 0;
          z-index: 1;
          padding: 0.6rem; 
          background-color: var(--primary);
          color: #fff;
          font-size: 0.85rem;
        }
      }
    }
    tbody {
      font-size: 0.8rem;
      tr {
        position: relative;
        &:nth-child(odd) {
          background-color: #f9f9f9; 
        }
        &:nth-child(even) {
          background-color: #fff; 
        }
        td {
          padding: 0.8rem ;
          white-space: nowrap;
          color: var(--paragraph-color);
          cursor: pointer;
          ._select{
            padding: 0.25rem;
            border-radius: 5px;
            border: 1px solid var(--primary);
            font-size: 0.7rem;
            &:focus{
              border: 1px solid var(--primary);
            }
          }
        }
      }
    }
  }
}

._notificationPopup_open{
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
  position: absolute;
  z-index: 4;
  top: 0rem;
  right: 3.5rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  font-size: 0.8rem;
  transition: all 0.5s ease-in-out;
  label{
    cursor: pointer;
    &:hover{
      color: var(--primary);
    }
  }
  
}
._notificationPopup_close{
  transition: all 0.5s ease-in-out;
  display: none;
  max-height: 0;
}

._tableContainer::-webkit-scrollbar {
  scroll-behavior: auto;
  }
